<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New User</title>
</head>
<body>
<h1>Create New User</h1>

<!-- Сообщение об ошибке или успешном добавлении -->
<div th:if="${successMessage}">
  <p th:text="${successMessage}" style="color:green;"></p>
</div>
<div th:if="${errorMessages}">
  <p th:each="message : ${errorMessages}" th:text="${message}" style="color:red;"></p>
</div>

<form action="/admin/add" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" required>

  <label for="email">Email</label>
  <input type="email" id="email" name="email" required>

  <label for="address">Address</label>
  <input type="text" id="address" name="address" required>

  <input type="submit" value="Create User">
</form>

<a href="/" class="button">Back to User List</a>
</body>
</html>

